<form>
   <div class="form-control">
       <label for="text">Entrez votre identifiant</label>
       <input type="text" name="username" id="username"  />
   </div>
   <div class="form-control">
    <label for="day">Entrez votre ancien mot de passe</label> 
    <input type="text" name="oldPassword"  id="oldPassword" />
    </div>
   <div class="form-control">
       <label for="day">Entrez votre nouveau mot de passe</label> 
       <input type="text" name="newPassword"  id="newPassword" />
   </div>
   <div class="form-control">
       <label for="reminder">Confirmez votre mot de passe</label>
       <input type="text" name="confirmPassword"  id="confirmPassword"/>
   </div>
   <input type="submit" value="Valider" class="confirmButton">
</form>
