.formBody {
    background-color: white; /* Fond blanc */
    padding: 25px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre pour effet de profondeur */
}

.formControl {
    margin-bottom: 15px; /* Espacement entre les contrôles */
    display: flex;   
    flex-direction: column;
}

.formControl label {
    font-size: 14px; 
    color: black;
}

.inputGroup {
    display: flex;
    align-items: center;
    border: 10px;
    width: 100%;
}

.inputIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0,171,202); 
    padding: 9.5px;
    border: none;
}

.inputIcon .icon {
    font-size: 16px;
    color: white;
}

.formControl input.form-control {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    border-width: 1px;
    border-color: rgba(127,127,127);
    border-radius: 0px;
    border-left: none;
    outline: black
}

.formControl input:focus, .formControl textarea:focus, .formControl select:focus {
    outline: none; /* Supprime le contour par défaut */
    box-shadow: none; /* Supprime l'ombre par défaut */
    border-color: black; /* Maintient la couleur de la bordure */
    background-color: rgb(236, 234, 234);
}

.confirmButton {
    background-color:rgba(225,0,141); /* Couleur rose pour le bouton */
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.confirmButton:hover {
    background-color: #c70877; /* Couleur légèrement plus foncée au survol */
}

.text-center {
    text-align: center;
}

.title {
    color: rgba(0, 171, 202);
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
}

.text1 {
    font-size: 14px;
}

.imgLogo {
    width: 100px;
}

.nodes-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 0.5rem; /* Espacement entre les nodes */
    margin-left: -10px;
}

