/* le containeur du form en général */
.formBodyContaineur { 
    background-color: white; /* Fond blanc */
    padding: 25px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre pour effet de profondeur */
}

/* titre form containeur */
.formContaineur {
    margin-bottom: 15px; /* Espacement entre les contrôles */
    display: flex;   
    flex-direction: column;
}


/* font titre form */
.formContaineur label {
    font-size: 14px; 
    color: black;
}

/* containeur de l'icon + form */
.inputGroupContaineur {
    display: flex;
    align-items: center;
    border: 10px;
    width: 100%;
}

/* containeur rectangle de l'icon */
.inputIconContaineur {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0,171,202); 
    padding: 9.5px;
    border: none;
}


/* logo cadena et utilisateur du form */
.inputIconContaineur .icon {
    font-size: 16px;
    color: white;
}

/* form containeur dquand select le containeur */
.formContaineur input.form-control {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    border-width: 1px;
    border-color: rgba(127,127,127);
    border-radius: 0px;
    border-left: none;
    outline: black
}

/* si le form est selectionner */
.formContaineur input:focus, .formContaineur textarea:focus, .formContaineur select:focus {
    outline: none; /* Supprime le contour par défaut */
    box-shadow: none; /* Supprime l'ombre par défaut */
    border-color: black; /* Maintient la couleur de la bordure */
    background-color: rgb(236, 234, 234);
}


/* le button valider */
.confirmButton {
    background-color:rgba(225,0,141); /* Couleur rose pour le bouton */
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}


/*  le button valider en survoler */
.confirmButton:hover {
    background-color: #c70877; /* Couleur légèrement plus foncée au survol */
}




/* le containeur pour les nodes de la secu du mdp */
.nodes-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 0.5rem; /* Espacement entre les nodes */
    margin-left: -10px;
}

/* laisse une place disponible vide pour l'erreur */
.errorPlace { 
    min-width: 100px; /* Ensure it has some width even if empty */
    min-height: 40px; /* Ensure it has some height even if empty */
}