<!-- 
 Seulement une div peu s'afficher a la fois via bodycomponent, 
 ngif test si le boolean est vrai, si oui l'affiche
-->

<div *ngIf="showErrorChampsEmpty" class="errorMessage">
    <p>Champs vides.</p>
</div>

<div *ngIf="showErrorLogin" class="errorMessage">
    <p>Identifiant et/ou mots de passe incorrecte.</p>
</div>

<div *ngIf="showErrorSamePassword" class="errorMessage">
    <p>Votre nouveau mot de passe doit différer de l'ancien.</p>
</div>

<div *ngIf="showErrorSecurityPassword" class="errorMessage">
    <p>Votre mot de passe doit respecter les règles de sécurité.</p>     
</div>

<div *ngIf="showErrorMatchPassword" class="errorMessage">
    <p>Vos nouveaux mots de passe ne correspondent pas.</p>
</div>

<div *ngIf="showSucces" class="succesMessage">
    <p>Mots de passe modifier avec succès !</p>
</div>

