


<div class="container-fluid">  <!-- START Container 1 -->
    <div class="row"> <!-- START Row 1 -->

        <div class="col-md-1">
        </div>

        <div class="col-md-10 col-12 mb-2">  <!-- boostrap responsible screen classe-->

            <!-- les components de l'app-->
            <app-header></app-header> 
            <app-body></app-body>
            <app-footer></app-footer>

        </div>

        <div class="col-md-1">   
        </div> 

</div> <!-- END Row 1 -->

</div> <!-- END Container 1 -->