/* font du titre */
.title {
    color:rgba(0,171,202);
    font-weight: bold;
    font-size: 28px;
}

/* font du txt */
.text1 {
    font-size: 16px;
}

/* logo ina */
.imgLogo {
    width: 100PX;
}

/* container des nodes */
.nodesContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alignement à gauche */
    gap: 0.5rem; /* Espacement entre les nodes */
  }
  