<div class="text-center m-2">
    <img src="assets/Logo_INA.svg.png" alt="Logo" class="imgLogo">
  </div>
  
  <div class="text1 text-center">
    <div class="title mb-2">
      Modifier votre mot de passe
    </div>
  
    <p>Rappel : ce mot de passe sert à toutes les applications utilisant l'identification Mélina.</p>
    <p>Votre nouveau mot de passe doit respecter les règles suivantes : </p>
  </div>
  
  <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <div class="nodes-container">
      <app-node
        [isTrue]="isMinLengthValid"
        text="Minimum 8 caractères">
      </app-node>
  
      <app-node
        [isTrue]="isLowerCaseValid"
        text="Minimum 1 minuscule">
      </app-node>
  
      <app-node
        [isTrue]="isUpperCaseValid"
        text="Minimum 1 majuscule">
      </app-node>
  
      <app-node
        [isTrue]="isDigitValid"
        text="Minimum 1 chiffre">
      </app-node>
  
      <app-node
        [isTrue]="isSpecialCharValid"
        text="Minimum 1 caractère spécial (par exemple : @$%=*/-+!?)">
      </app-node>
    </div>
  </div>
  