<div class="container-fluid"> <!-- START Container -->
<div class="row"> <!-- START Row 1-->



    <div class="text-center m-4">
        <img src="assets/Logo_INA.svg.png" alt="Logo" class="imgLogo">
    </div>
      
</div> <!-- END Row 1-->

<div class="row"> <!-- START Row 2 -->

    <div class="col-md-4">
    </div>






    <div class="col-md-4 text1 col-12 ml-1 mr-1">

        <div class="title text-center mb-4">
            Modifier votre mot de passe
        </div>

        <p>Rappel : ce mot de passe sert à toutes les applications utilisant l'identification Mélina.</p>
        <p>Votre nouveau mot de passe doit respecter les règles suivantes : </p>



    </div>

    <div class="col-md-4">
    </div>

</div> <!-- END Row 2 -->


<div class="row"> <!-- START Row 3 -->

    <div class="col-md-4">
    </div>


    <div class="col-md-4 col-12">
        <app-node></app-node> <!-- NODE COMPONENT -->
    </div>

    <div class="col-md-4">
    </div>

</div> <!-- END Row 3 -->




</div> <!-- END Container -->
