<form class="add-form" (ngSubmit)="onSubmit()">
     <!-- ng submit ====  ngSubmit lie l'événement submit du formulaire à 
      la méthode onSubmit qd click la methode ce lance-->
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="Add Task" />
    </div>
    <div class="form-control">
        <label for="day">Day & Time</label> 
        <input type="text" name="day" [(ngModel)]="day" id="day" placeholder="Add deadline" />
        <!-- ng model ==== lie le contenue de la case day a la case day -->
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Set Reminder </label>
        <input type="checkbox" name="reminder" [(ngModel)]="reminder" id="reminder" />
    </div>
    <input type="submit" value="Save Task" class="btn btn btn-block">
</form>
