

<div class="container-fluid"> <!-- START CONTAINER 1 -->
<div class="row"> <!-- START Row 1 -->

    <div class="col-md-1">
    </div>
    
    <div class="col-md-10 col-12">
        <div class="textnode">


            <p>Minimum 8 caractères</p>
            <p>Minimum 1 minuscule</p>
            <p>Minimum 1 majuscule</p>
            <p>Minimum 1 chiffre</p>
            <p>Minimum 1 caractère spécial (par exemple : &#64;$%=*/-+)</p>

        </div>
    </div>

    
    <div class="col-md-1">
    </div>



</div> <!-- END Row 1 -->
</div> <!-- END CONTAINER 1 -->



