
<div class="container-fluid"> <!-- START Container-->


    <div class="row"> <!-- START Row 1 -->

        <div class="col text-center">

            Pour plus d'information sur la gestion des mots de passe,
            vous pouvez consulter le site SSI de l'INA : 
            
            <p>
            <a href="http://ssi.ina.fr/standard-et-bonnes-pratiques/" class="footerLink">http://ssi.ina.fr/standard-et-bonnes-pratiques/</a>
            </p>
        </div>
        
    </div> <!-- END Row 1 -->

<div class="row"> <!-- START Row 2 -->

    <div class="col text-center">

    <div class="iconContainer">
          
        
        Pour tous problèmes techniques, veuillez contacter le
        <a href="mailto:3333@ina.fr" class="footerLink"> 3333</a>.
    </div>

    </div> 

</div>  <!-- END Row 2 -->

</div> <!-- END Container-->