<div class="container-fluid"> <!-- start container -->

    <div class="row"> <!-- start row -->
  
      <div class="col-4"></div>
  
      <div class="col-4">
        <video width="640" height="360" controls>
          <source [attr.src]="'assets/video/' + (videoName$ | async)" type='video/webm; codecs="vp9"'>
          Your browser does not support the video tag.
        </video>
      </div>
  
      <div class="col-4"></div>  
  
    </div> <!-- end row -->
  
  </div> <!-- end container -->
  